* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.pic {
  width: 150px;
  border-radius: 50%;
}

.left {
  background-color:#F4D4C4;
}

.icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
}

.header {
  border-bottom: 1px solid  #DEB6AC;
}

.box-header {
  border: 1px solid  #DEB6AC;
  padding: 10px 3px;
  width: 75%;
  margin-left: 12.5%;
  margin-bottom: 10px;
}

.bounce {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: bounce-1;
  animation-timing-function: linear;
}
@keyframes bounce-1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-100px); }
  100% { transform: translateY(0); }
}
